*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*adjusting the whole page*/
body{
    background-color:#fff9f9;
    /*change background color*/
}
.header{
text-decoration: none;
/*hide the line below the word*/
}
nav ul{
    width: 100%;
    /*take the width of the whole page*/
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 7px 8px rgba(0,0,0,0.1);
    /*adjusting the shadow of the navbar*/
}
nav li{
    height: 50px;
    font-family: forte;
    /*type of the font*/
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
   transition: color 0.3s ease;
  position: relative; 
}
nav a:hover {
  color: #8b0000;
  /*change the color on moving the consule above*/
}
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  /*adjusting the position*/
  width: 40%;
  height: 3px;
  background-color: #8b0000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
nav a:hover::after {
  transform: scaleX(1);
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width:250px;
    z-index: 999;
    background-color: #f8ebeb;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menubutton{
    display:none;

}
@media(max-width: 800px){
    .hideonmobile{
        display:none;
    }
    .menubutton{
        display:block;
    }
    /*hide and show according to the width of the page*/
}
.hero1{
    position: relative;
    padding:100px 700px 0 20px;
    /*gaps top right bottom left*/
    font-family: 'Times New Roman', Times, serif;
    /*type of the font*/
}
.hero2{
    position: relative;
    padding:160px 20px 0 700px;
    /*gaps top right bottom left*/
    font-family: 'Times New Roman', Times, serif;
    /*type of the font*/
}
.hero3{
    position: relative;
    padding:160px 700px 0 20px;
    /*gaps top right bottom left*/
    font-family: 'Times New Roman', Times, serif;
    /*type of the font*/
}
.hero4{
    position: relative;
    padding:160px 20px 0 700px;
    /*gaps top right bottom left*/
    font-family: 'Times New Roman', Times, serif;
    /*type of the font*/
}
button{
    background-color: #8b0000;
    color: white;
    /*text color*/
    text-align: center;
    /*adjusting the text at the center*/
    font-family: forte;
    /*type of the font*/
    font-weight: 900px;
    border-radius: 20px;
    /*smoothing the button corners*/
    border-style: solid;
    border-color: black;
    /*applying a solid border*/
    width:120px;
    height:30px;
    /*button dimensions*/
}
button:hover{
  box-shadow: 0 0 10px;
  /*applying shaddow*/
  transform: scale(1.03);
  transition: 0.3s ease;
}
footer {
  position: relative;
  margin-top: 50px;
  /*distance above*/
  background-color: black;
  color: white;
  /*text color*/
  padding: 10px;
}
.footerimages{
    display: grid;
    grid-template-columns: 0.03fr 0.03fr 0.3fr;
    grid-template-rows: auto;
    /*adjusting 3 columns and 1 row for the icons*/
}